{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 my-auto">
                <h1 class="display-4 logo-font text-white">
                    What we have to offer
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'packages' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Buy Now</a>
                    </h4>
                </div>
                <section>
                    <h2 id="about" name="about">
                        About
                    </h2>
                    <p>I am a fully qualified swim teacher, personal trainer and pilates instructor with over 10 years experience teaching in Cork city. 
                        I have been helping my clients of Cork’s North-side and beyond become healthier, happier and reaching there goals through fitness through both private and group classes.
                    </p>
                    <p>
                    if you want to tone up, lose weight, recover from an injury or even learn to swim.
                    Get in touch today to see how I can help you get there.
                    </p>
                    <a href="{% url 'contact' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Get in Touch</a>
                    
                </section>
            </div>
        </div>
    </div>
{% endblock %}