{% extends "base.html" %}
{% load static %}

{% block extra_title %}Contact Us{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay "></div>
<div class="container">
    <div class="row">        
        <div class="col-12 col-md-6">
            <hr>
            <h1 class="logo-font mb-4">Contact Us</h1>
            <hr>
            <p> Your message has been sent successfully!</p>
            <p>Someone will be in touch as soon as possible.</p>
        </div>
    </div>
</div>
{% endblock %}